<html>

<head>
  <title>
    Home
  </title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: black;">
    <div class="container-fluid">
      <a class="navbar-brand d-lg-none" href="#"><img src="../assets/images/howdy-white.png"
          style="width:45px; height:45px;" /></a>
      <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand d-none d-lg-block" href="#"><img src="../assets/images/howdy-white.png"
          style="width:45px; height:45px;" /></a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">services</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6 home">
          <div class="title" style="color: white;">
            <h1 class="display-4"><b>A website for your organization.</b></h1>
          </div>
          <br>
          <div class="about" style="width: 80%; color: grey;">
            <p>You don’t need to be tech savvy, getting a professional website for your business can be cheap and easy,
              and to make it even simpler for you – not having a website is costing you time and money. <br><br><i>“If
                your business is not on the internet, then your business will be out of business.” — Bill Gates</i></p>
          </div>
          <br>
          <button type="button" id="button" class="btn btn-three shadow-none">Get Started</button>
        </div>
      </div>
    </div>
  </div>
  <div class="second">
    <h4>About us</h4>
    <br><br>
    <div class="container-fluid">
      <div class="row" style="padding-bottom: 5%;">
        <div class="col-sm-4">
          “There are three responses to a piece of design – yes, no, and WOW! Wow is the one to aim for.” <br>- Milton
          Glaser
        </div>
        <div class="col-sm-4">
          Designing is a process of creating a plan and originating the development of a specific product. Once the
          product is designed, its design is used to start the production.
        </div>
        <div class="col-sm-4">
          We, at Howdy, aim to design a website and the services to provide that suits you best. Our main objective is
          customer satisfaction while being punctual.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" style="padding: 5%;">
          <div class="card text-center" style="width: 19rem;">
            <img src="../assets/images/elon.jpg" class="card-img-top" alt="..." style="height: 25rem; width: 18.9rem;">
            <div class="card-body">
              <h5 class="card-title">Developer</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="padding: 5%;">
          <div class="card text-center" style="width: 19rem;">
            <img src="../assets/images/steve.jpg" class="card-img-top" alt="..." style="height: 25rem; width: 18.9rem;">
            <div class="card-body">
              <h5 class="card-title">UI/UX Designer</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="padding: 5%;">
          <div class="card text-center" style="width: 19rem;">
            <img src="../assets/images/jack.jpg" class="card-img-top" alt="..." style="height: 25rem; width: 18.9rem;">
            <div class="card-body">
              <h5 class="card-title">DevOps Engineer</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="third">
    <h4>About us</h4>
    <br><br><br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          kjjnkjj
        </div>
        <div class="col-sm-4">
          lkkkllm
        </div>
        <div class="col-sm-4">
          lkkkllm
        </div>
      </div>
    </div>
  </div>
</body>

</html>